body {
  font-family: "DM Sans", sans-serif;
  margin: 0;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 2rem;
  height: 90px;
}
header .logo {
  height: 50px;
  margin-left: 100px;
}
header h1 {
  color: #901C1C;
  margin-right: 100px;
}

.photographer_section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 70px;
  margin-top: 100px;
}
.photographer_section article {
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.photographer_section article h2 {
  color: #D3573C;
  font-size: 2em;
  font-weight: 500;
  margin: 0;
}
.photographer_section article img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.photographer_section article p {
  margin: 0;
  font-size: 0.7em;
  font-weight: 600;
}
.photographer_section__location {
  color: #D3573C;
}
.photographer_section__price {
  color: grey;
}

.photograph-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3rem;
  background-color: #FAFAFA;
  height: 300px;
  margin: 0 100px;
}
.photograph-header .contact_button {
  order: 1;
}
.photograph-header h1 {
  color: #D3573C;
  font-size: 3em;
  font-weight: 500;
  margin: 0;
}
.photograph-header img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  order: 2;
}
.photograph-header p {
  margin: 0;
  font-size: 1em;
  font-weight: 500;
  margin-top: 1em;
}
.photograph-header__location {
  color: #D3573C;
}

.media-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 100px;
}
.media-section article {
  margin: 2% 0;
}
.media-section img {
  width: 350px;
  height: 300px;
  border-radius: 5px;
  object-fit: cover;
  cursor: pointer;
}
.media-section video {
  width: 350px;
  height: 300px;
  border-radius: 5px;
  object-fit: cover;
  cursor: pointer;
}
.media-section__body {
  display: flex;
  justify-content: space-between;
  font-size: 1.2em;
  font-weight: 600;
  color: #D3573C;
}
.media-section__like {
  cursor: pointer;
}

.contact_button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901C1C;
  border-radius: 5px;
  cursor: pointer;
}

#pricing-insert {
  display: flex;
  justify-content: space-between;
  background-color: #DB8876;
  position: fixed;
  bottom: 0;
  right: 2%;
  padding: 1em 1.7em;
  width: 20vw;
  border-radius: 5px 5px 0 0;
  font-weight: 600;
  font-size: 1.2em;
}

#contact_modal {
  display: none;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(26, 39, 156, 0.4);
}

.modal {
  position: relative;
  top: 10%;
  max-width: 33%;
  border-radius: 5px;
  background-color: #DB8876;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 35px;
  margin: auto;
  animation-name: modalopen;
  animation-duration: 0.5s;
}
.modal header {
  justify-content: space-between;
  width: 100%;
  margin: 0 2rem 2rem;
}
.modal header img {
  cursor: pointer;
  height: 2em;
  align-self: flex-start;
}
.modal header h2 {
  font-size: 2.8em;
  font-weight: normal;
  text-align: left;
}
.modal__validation {
  position: absolute;
  width: 84%;
  top: 42%;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 500;
}

@keyframes modalopen {
  from {
    opacity: 0;
    transform: translateX(-150px);
  }
  to {
    opacity: 1;
  }
}
form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}
form label {
  margin-top: 0.4rem;
  color: #312E2E;
  font-size: 1.6em;
}
form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 26px;
}
form input {
  width: 100%;
  height: 2em;
  border: none;
  border-radius: 5px;
  font-size: 1.5em;
}
form #message {
  width: 100%;
  border-radius: 5px;
}

.lightbox {
  display: none;
}
.lightbox__wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 3em;
}
.lightbox__image {
  width: 50vw;
  height: 50vw;
  box-shadow: 6px 0 rgb(127, 127, 127);
  object-fit: cover;
}
.lightbox__video {
  width: 50vw;
  height: 50vw;
  box-shadow: 6px 0 rgb(127, 127, 127);
}
.lightbox .controls {
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #901C1C;
}
.lightbox h2 {
  font-size: 1.5em;
  color: #901C1C;
  margin-top: 0.5em;
}
.lightbox__close {
  position: absolute;
  align-self: flex-start;
  color: #901C1C;
}
.lightbox__button {
  cursor: pointer;
}

.photographer-sorting {
  margin: 2% 100px 0;
}
.photographer-sorting label {
  font-size: 1em;
  font-weight: 600;
}

.sorting-select {
  box-sizing: border-box;
  font-size: 1em;
  font-weight: 600;
  color: white;
  padding: 11px;
  width: 10vw;
  height: 2%;
  border: none;
  background-color: #901C1C;
  border-radius: 5px;
  border-color: white;
  border: 0 0 1px;
  cursor: pointer;
}
.sorting-select::before, .sorting-select::after {
  box-sizing: border-box;
}
.sorting-select option {
  font-size: 1em;
  font-weight: 600;
  height: 2%;
  width: 8vw;
  border-radius: 5px;
  background-color: #901C1C;
}
.sorting-select option:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.sorting-select:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

/*# sourceMappingURL=style.css.map */
