.lightbox {
  display: none;

  &__wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 10vh;
  }

  &__image {
    width: 80vh;
    height: 80vh;
    box-shadow: 6px 0 rgb(127, 127, 127, 1);
    object-fit: cover;
  }

  &__video {
    width: 80vh;
    height: 80vh;
    box-shadow: 6px 0 rgb(127, 127, 127, 1);
  }

  .controls {
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  h2 {
    font-size: 1.5em;
    color: $color-primary;
    margin-top: 0.5em;
  }

  &__close {
    position: absolute;
    align-self: flex-start;
    color: $color-primary;
  }

  &__button {
    cursor: pointer;
    order: 1;
  }

  button {
    background-color: #fff;
    border: none;
    color: $color-primary;
  }
}