.lightbox {
  display: none;

  &__wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 70vh;
    padding: 15vh 0;
  }

  &__image {
    width: 60vw;
    height: 60vw;
    box-shadow: 6px 0 rgb(127, 127, 127, 1);
    object-fit: cover;
  }

  &__video {
    width: 60vw;
    height: 60vw;
    box-shadow: 6px 0 rgb(127, 127, 127, 1);
  }

  .controls {
    width: 100px;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $color-primary;
  }

  h2 {
    font-size: 1.5em;
    color: $color-primary;
    margin-top: 0.5em;
  }

  &__close {
    position: absolute;
    align-self: flex-start;
    color: $color-primary;
  }

  &__button {
    cursor: pointer;
  }
}