#pricing-insert {
    display: flex;
    justify-content: space-between;
    background-color: #DB8876;
    position: fixed;
    bottom: 0;
    right: 2%;
    padding: 1em 1.7em;
    width: 20vw;
    border-radius: 5px 5px 0 0;
    font-weight: 600;
    font-size: 1.2em;
}